{% extends 'base.html.twig' %}

{% block title %}A propos
{% endblock %}

{% block body %}

	<main class="">
		<div class="container-fluid px-0 mb-5">
			<h1 class="t_Flood text-center py-4 ">A propos</h1>
			<img class="img-fluid" src={{ asset('/images/ScreenSurLeChamp.png')}}>
			<p class="text-about t_Nunito text-center my-4 my-md-5">Bonjour et Bienvenu, je suis Gemuchi, le "Sage du Jeu". Je suis un streamer professionnel sur le site Twitch. Mon rôle est de cultiver la reflexion et le calme dans le milieu du jeu vidéo. J'ai une préférence pour les jeux de stratégie et de réflexion, mais surtout tout les jeux qui posent des questions sur leur média ou le monde qui nous entoure. En effet le jeu est un medium d'apprentissage plaisant mais sérieux. C'est à ce titre que je propose de vous livrer mes lectures de certain de ces jeux. Un bon jeu est un jeu sans défaut, mais un chef d'oeuvre ira plus loin que cela. Je vous invite donc à vous assoir, à prendre une tasse de thé et partager avec moi un instant de contemplation et de reflexion autour d'un medium qui peut apporter beaucoup à ceux qui veulent bien le juger avec calme et sérieux.</p>
		</div>
	</main>
{% endblock %}
