/*** TESTS **/ 

#dropdownMenu2,.btn-submit{
    background-color:#BC002D;
    border: #BC002D;
    border-radius: 0;
}


.filtre{
    background-color:#C2C6D9;
}

.h2-tests{
    font-size: 18px;
    font-weight: 400;
}

.dropdown{
    padding-left: 5px;
    padding-right: 0px;

}
#console{
    text-transform: uppercase;
    font-weight: 500;

}




.btn-category{
    background-color: #BC002D;
    border: #BC002D;
    color: #ffffff;
    border-radius: 8px;
    text-transform: uppercase;
}


.btn-category,#console{font-size: 12px;}
.card-title{font-size: 22px;}
.card-text{font-size: 14px;}

@media all and (min-width:576px) {
    .btn-category,#console{font-size: 14px;} 

}
#line{
    border-bottom: 1px solid #3F4253;
}




@media all and (min-width: 768px) { 
    .container-tests{
        width: 75%
    }
    .h2-tests{
        font-size: 30px;
    }
    .btn{
        font-size: 20px;
    }
    .dropdown{padding: 0 10px;}

}

@media all and (min-width: 992px) { 
    .card-title{font-size: 26px;}
    .card-text{font-size: 16px;}

}


@media screen and (min-width:1200px) {
    .h2-tests{
        margin-left: 130px;
    } 
}

/*** CONTACT **/ 
.form{margin-bottom: 100px;}
.btn-submit{
    border-radius: 15px;
}

.btn-submit:hover{
    background-color: #BC002D;
    color: #ffffff;
}


label{
    font-weight: 500;
}

.input,.message{
    border: 2px solid #3F4253 ;
}

.message{
    border-radius: 0px;
}
.select{
    background-color: #3F4253;
    border-radius: 0px;
    color: #ffffff;
}


