#dropdownMenu2{
    background-color:#BC002D;
    border: #BC002D;
    border-radius: 0;
}

.filtre{
    background-color:#C2C6D9;
}

/* Colors */
.japanRed {background-color: #BC002D;}
.purpleGrey {background-color: #3f4253;}
.strongGrey{background-color: #707070;}
.lightGrey{background-color:#C2C6D9;}
.lightWhite{background-color: #F0F1F4;}
.fullWhite{background-color: #FFF;}
.fullBlack {background-color: #000;}

/* Typography */
@font-face {
    font-family: "flood";
    src: url("../typography/Flood.otf") format("opentype");
}

@font-face {
    font-family: "nunito-medium";
    src: url("../typography/Nunito-Medium.ttf") format("truetype");
}
.t_Flood {font-family: "Flood";}
.t_Nunito {font-family: "nunito-medium";}
.nav-link {color:#FFF}


/*Taille*/
.XS {
    width : 5vh;
    height : 5vh;
}

.S {
    width : 8vh;
    height : 8vh;
}

.M {
    width : 12vh;
    height : 12vh;}