{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title 'Bienvenue, Gemuchi' %}

{% block main %}
    <div class="container">
        <section class="row align-items-center">
            <article class="col">
                One of three columns
            </article>
            <article class="col">
                One of three columns
            </article>
            <article class="col">
                One of three columns
            </article>
        </section>
    </div>
{% endblock %}
