<footer class="container-fluid purpleGrey text-center text-white">
	<div class="container">
		<div class=" text-center text-white p-2 d-md-flex justify-content-between">
			<div>
				<a href="{{ path('home') }}" class="navbar-brand mb-0 h1">
					<img src="{{ asset('/images/Logo_Japon.svg')}}" alt="logo" class="d-inline-block align-top" width="50" height="50">
				</a>
				<div class="copyright">
					© 2022
					<a class="text-white text-decoration-none" href="#">Gemuchi</a>
					<p>
						Tous les droits résérvés</p>
				</div>
			</div>
			<div class="mentions">
				<section class="mb-1">
					<a class="btn btn-link btn-floating btn-lg text-white m-1" href="#!" role="button" data-mdb-ripple-color="white">
						<i class="fab fa-twitter"></i>
					</a>
					<a class="icon-r-sociaux btn btn-link btn-floating btn-lg text-white m-1" href="#!" role="button" data-mdb-ripple-color="white">
						<i class="fab fa-twitch"></i>
					</a>
					<a class="btn btn-link btn-floating btn-lg text-white m-1" href="#!" role="button" data-mdb-ripple-color="white">
						<i class="fab fa-discord"></i>
					</a>
				</section>
				<a class="text-decoration-none text-white" href="{{ path('mention_legale') }}">Mentions légales</a>
			</div>

		</div>
	</div>

	<button onclick="topFunction()" id="myBtn">
		<i class="icon-arrow-up fas fa-arrow-up"></i>
	</button>
</footer>
