<footer class="purpleGrey position-sticky bottom-0 start-0 px-5">
    <div class="d-flex">
        <img src="{{ asset('/images/Logo_Japon.svg')}}" alt="Logo" class="col-1 S">
    </div>
    <div class="d-flex justify-content-between">
        <span class="d-flex text-white fs-5 t_Nunito">{{ '&#169;' }}2022 Gemuchi</br> Tous droits réservé</span>
        <a class="d-flex nav_link text-white fs-5 t_Nunito"> Mentions Légales </a>
    </div>   
    <button onclick="topFunction()" id="myBtn"><i class="uil uil-arrow-up icon-up"></i></button> 
</footer>
