<header class="purpleGrey position-sticky top-0 start-0 px-5">
    <nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-between">
        <img class="d-flex M" src="{{ asset('/images/Logo_Japon.svg')}}" alt="Logo">
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Search">
        </form>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link text-white fs-4 t_Nunito" href="#">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white fs-4 t_Nunito" style="font-family: "nunito-medium" color:#FFF;" href="#">A Propos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white fs-4 t_Nunito" style="font-family: "nunito-medium" color:#FFF" href="#">Tests</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white fs-4 t_Nunito" style="font-family: "Nunito-medium"" href="#">Contact</a>
            </li>
        </ul>
    </nav>            
</header>