
<footer class="s-medias text-center text-white lightWhite">
  <!-- Grid container -->
  <div class="container pt-3">
    <!-- Section: Social media -->
    <section class="mb-3">
      <!-- Twitter -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-twitter"></i></a>

      <!-- twitch -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-twitch"></i
      ></a>

      <!-- Discord -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-discord"></i
      ></a>

    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="purpleGrey text-center text-white p-3 d-md-flex justify-content-between">
        <div class="">
               <a href="{{ path('home') }}" class="navbar-brand mb-0 h1">
            <img src="{{ asset('/images/Logo_Japon.svg')}}" alt="logo" class="d-inline-block align-top" width="50" height="50">
            </a> 
            <div class="copyright">
                © 2022
                <a class="text-white text-decoration-none" href="#">Gemuchi</a>
                <p> Tous les droits résérvés</p>
            </div>
        </div>
        <div class="mentions mt-md-5">
            <p>Mentions légales</p>
        </div>
     
  </div>
  <!-- Copyright -->
  <button onclick="topFunction()" id="myBtn"><i class="uil uil-arrow-up icon-up"></i></button>
</footer>